client/config/groups.txt
client/config/ui_state.json
client/config/automation_pairs.txt
client/logs/

server/bin/db.bin
server/bin/dict.bin
server/logs/
server/debug/

.DS_Store
Thumbs.db
*.swp
*.swo
*~
.vscode/
.idea/